* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "backtoschool";
    src: url("fonts/webfontkit-20220902-172640/backtoschool-webfont.woff2") format("woff2"),
     url("fonts/webfontkit-20220902-172640/backtoschool-webfont.woff") format("woff");
     font-weight: normal;
     font-style: normal;
}

.image-container {
    display: flex;
    width: 550px;
    min-height: 100vh;
}

img {
    width: inherit;
    min-height: 100vh;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "backtoschool";
    font-size: 60px;
    position: absolute;
    bottom: 10vh;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: 80px;
    color: white;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    gap: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.form-header,
.form-card {
    margin: 20px 20px 0 20px;
    padding: 10px 30px 30px;
    text-align: left;
}

.form-header h1 {
    margin-bottom: 20px;
}

.form-header p {
    margin-bottom: 20px;
}

.form-card {
    box-shadow: 2px 3px 4px rgba(0,0,0,0.5); 
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

p {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.input {
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    width: 40%;
}

label {
    font-size: 12px;
}

input {
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgb(77, 77, 77);
    padding: 3px;
}

input:focus {
    outline-color: #0096FF	;
    background-color: #E5E7EB;

}

button {
    width: 200px;
    height: 40px;
    margin-left: 9px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #47573a
}

.login-2 {
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: 35px;
}

.login-link {
    color: #596D48;
}

.login-link:hover {
    color: #47573a;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #404040;
    color: white;
    padding: 1em;
    text-align: center;
}